<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Account</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css'%}">

</head>
<body>
    
    <div class="container">

        <h2 class="h2">Edit My Account</h2> <a href="/main/main" class="a4">Back</a> | <a href="/main/logout">Logout</a>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %}{{ message }}{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}    

        <form action="/main/process_acct_update/{{this_user.id}}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{this_user.id}}">
            <p>First Name <input type="text" name="f_name" value="{{this_user.first_name}}"></p>
            <p>Last Name: <input type="text" name="l_name" value="{{this_user.last_name}}"></p>
            <p>Email: <input type="text" name="email_address" value="{{this_user.email}}"></p>
            <p><input type="submit" name="" value="Submit"></p>
        </form>  

    </div>

</body>
</html>