<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css'%}">

</head>
<body>
    
    <div class="container">

        <h2 class="h2">Welcome {{user.first_name}} {{user.last_name}}</h2> <a href="/main/edit_user_account/{{user.id}}" class="a1">Edit My Account</a> | <a href="/main/logout" class="a2">Logout</a>

        <div class="left_side">
            <h3 class="h3">Quotes</h3>

            {% for q in all_quotes %}
                <div class="quote_box">
                    <p>{{q.author}}: {{q.content}}</p>
                    <p>Posted by 
                        <!-- <form>
                            {% csrf_token %}
                            <input type="hidden" name="this_id" value="{{q.user_created.id}}"> -->
                            <a href="/main/view_user_quotes/{{q.user_created.id}}">{{q.user_created.first_name}} {{q.user_created.last_name}}</a></p>                            
                        <!-- </form> -->
                    <p>{% if request.session.user_id == q.user_created.id %} <a href="/main/delete_quote/{{q.id}}">Delete</a> {% endif %}</p>
                </div>
            {% endfor %}

        </div>

        <div class="right_side">

            <h2>Add a Quote!</h2>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{% if message.tags %}{{ message }}{% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="/main/process_quote_add" method='POST'>
                {% csrf_token %}
                <p>Author: <input type="text" name="author"></p>
                <p>Quote: <textarea name="quote" class="quotearea"></textarea></p>
                <p><input type="submit" name="" value="Submit"></p>
            </form>   

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>