<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Random Words</title>
    </head>
    <body>
        <p>Random Word (attempt #{{request.session.counter}})</p>

        <h1>{{string}}</h1>

        <form action='/increment' method="POST">
            {% csrf_token %}
            <input type="submit" name="submit" value="Generate"/>
        </form>

        <form action='/reset' method="POST">
            {% csrf_token %}
            <input type="submit" name="submit" value="Reset" />
        </form>

    </body>
</html>